## Datos númericos

## Números enteros (Integers int)

In [1]:
print(10)
print(type(10))

10
<class 'int'>

In [2]:
variable = 100
print(variable)
print(type(variable))

100
<class 'int'>

In [3]:
# variable 20 entero
variable_2 = int(20)
print(variable_2)
print(type(variable_2))

20
<class 'int'>

In [4]:
# Valor 10 en base decimal
print("Base decimal")
print(10)

Base decimal
10

In [5]:
# Valor 10 binario
print("Base binaria")
print(0b1010)

Base binaria
10

In [6]:
# Valor 10 en octal
print("Base octal")
print(0o12)

Base octal
10

In [7]:
# Valor 10 en hexadecimal
print("Base hexadecimal")
print(0xa)

Base hexadecimal
10

In [1]:
# Entero con 60 dígitos
variable_3 = 123456789012345678901234567890123456789012345678901234567890
print (variable_3)
print (type (variable_3))

123456789012345678901234567890123456789012345678901234567890
<class 'int'>

## Números con punto (Floating float)

In [2]:
# Valor 0.5 float
print(0.5)
print(type(0.5))

0.5
<class 'float'>

In [10]:
# Variable 0.100546
variable_4 = 0.100464
print(variable_4)
print(type(variable_4))

0.100464
<class 'float'>

In [11]:
# Variable 1 flotante
variable_7 = float(1)
print(variable_7)
print(type(variable_7))

1.0
<class 'float'>

In [3]:
# Valor 2.0e-3 Flotante
variable_6 = 2.0e-3
print(variable_6)
print ( type (variable_6) )

0.002
<class 'float'>

In [12]:
# Precision de 17 decimales
variable_5 = 0.99999999999999999
print(variable_5)
print(type(variable_5))

1.0
<class 'float'>

## Operadores aritméticos

In [4]:
# Suma
a = 10
b = 3
print("Suma")
print(a + b)

Suma
13

In [15]:
# Resta
print("Resta")
print(a - b)

Resta
7

In [16]:
# Multiplicacion
print("Multiplicacion")
print(a * b)

Multiplicacion
30

In [17]:
# Division
print("Division")
print(a / b)

Division
3.3333333333333335

In [18]:
# Potencia
print("Potencia")
print(a ** b)

Potencia
1000

In [19]:
# Division entera
print("Division entera")
print(a // b)

Division entera
3

In [20]:
# Modulo o residuo
print("Modulo o residuo")
print(a % b)

Modulo o residuo
1

In [21]:
# Operaciones más complejas
c = 300/60
s = (3600/60)/60
d = c + s
print(d)

6.0

## Operadores de comparación

In [22]:
# Operadores de comparación
print("Operadores de comparación")
comparar = 10
print(comparar < 10)
print(comparar > 10)
print(comparar == 10)
print(comparar <= 10)
print(comparar >= 10)
print(comparar != 10)

Operadores de comparación
False
False
True
True
True
False

In [5]:
print ("Operadores de comparación con int - float")
entero = 10
flotante = 10.0
print (entero < flotante)
print (entero > flotante)
print (entero == flotante)
print (entero <= flotante)
print (entero >= flotante)
print (entero != flotante)

Operadores de comparación con int - float
False
False
True
True
True
False